
/* id dice count function(game.html)*/
#dis-count
    {
      
      place-items: left;
      position: absolute;
      top: 200px;
      left: 120px;
      font-size: 2rem;
      z-index: 99;
    }
  #dis-btn 
  {
      z-index: 99;
      padding: 15px;
      cursor: pointer;
      background-color: rgb(103, 141, 173);
      border-radius: 15px;
      width: 300px;
  }

  /*classes function for grid (game.html)*/
.g-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #f9fbfd;
  width: 600px;
}
.g-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(239, 191, 191, 0.8);
  width:60px;
  height:60px;
}

#player1,
#player2 
{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(236, 82, 82);
  position: relative;
  border: 3px ;
}
#player1
{
  position: relative;
  text-align: left;
  cursor: pointer;
  z-index: 2;
  top: 0px;
  left: -62px;
  transition: all linear 0.5s;
}
#player2
{
  position: relative;
  background-color: blue;
  cursor: pointer;
  z-index: 2;
  top: -55px;
  left: -62px;
  transition: all linear 0.5s;
}

/*i class for Game.html img

.i {
  position: relative;
  top: -615px;
  left: 1px;
  /* z-index: -1; if i add this function then image below and grid above show
  margin: 0;
  width: 620px;
  height: 620px;
}*/

/* header image in center(index.html)*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  }
  .centertext{
    text-align: center;
  }

/* snacks and laderd pic fix right nd left side(index.html)*/
  #left-about {
		padding-top: 50px;
		width: 0%;
		float: left;
	}

	#right-about {
		padding-top: 30px;
		width: 20%;
		float: right;
	}