/* dice count function*/
#dis-count
    {
      display: grid;
      place-items: center;
      position: absolute;
      top: 200px;
      left: 120px;
      font-size: 2rem;
      z-index: 99;
    }
    #dis-btn {
      z-index: 99;
      padding: 15px;
      cursor: pointer;
      background-color: rgb(75, 140, 197);
      border-radius: 15px;
      width: 300px;
    }
.g-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #d2e2ef;
  width: 600px;
}
.g-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(239, 191, 191, 0.8);
  width:60px;
  height:60px;
}
.i {
  position: relative;
  top: -615px;
  left: 1px;
  /* z-index: -1; if i add this function then image below and grid above show*/
  margin: 0;
  width: 620px;
  height: 620px;
}
/* header image in center*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  }
  .centertext{
    text-align: center;
  }
/* snacks and laderd pic fix right nd left side*/
  #left-about {
		padding-top: 50px;
		width: 0%;
		float: left;
	}

	#right-about {
		padding-top: 30px;
		width: 20%;
		float: right;
	}